@charset "UTF-8";

* {
	box-sizing: border-box;
}


.header {
	background-color: #ff2d00;
	color: white;
	font-style: italic;
	text-indent: 25px;
	margin: 0;
	display: flex;
}


.table-content{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}

.h-head-2{
	text-align: center;
	
}


hr {
	color: #eeee;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;

}



table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

table td, th {
	border: solid 1px #ddd;
	padding: 8px;
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04AA6D;
	color: white;
}

table tr:nth-child(even) {
	background-color: #f2f2f2;
}

table tr:hover {
	background-color: #ddd;
}

.buttons {
	display: flex;
	justify-content: space-evenly;
}

button {
	background-color: #116685;;
	border-radius: 4px;
	border-style: none;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	margin: 0;
	max-width: none;
	min-height: 44px;
	min-width: 10px;
	outline: none;
	overflow: hidden;
	padding: 9px 20px 8px;
	position: relative;
	text-align: center;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;

}

.add-button{
	width: 120px;
	background-color:  #04AA6D ;
}

form label , form input{
	display: block;
}
footer {
	text-align: center;
	background-color: #ff2d00;
	margin: auto;
	padding-top: auto;
	padding: 15px;
	width: 100%;
	position: fixed;
	bottom: 0;
	color: white;
}