* {
	box-sizing: border-box;
}


.header {
	background-color: #ff2d00;
	color: white;
	font-style: italic;
	text-indent: 25px;
	margin: 0;
	display: flex;
}

.container {
	padding: 60px;
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	display: flex;
	display: grid;
	place-content: center;
}





.container input{
	padding: 5px;
	width: 300px;
	display: block;
	margin: 10px 0;
}

.container form label{
	color: #777;
}
button {
	background-color: #04AA6D;;
	border-radius: 4px;
	border-style: none;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	margin: 0;
	max-width: none;
	min-height: 44px;
	min-width: 10px;
	outline: none;
	overflow: hidden;
	padding: 9px 20px 8px;
	position: relative;
	text-align: center;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;

}



.footer {
	text-align: center;
	background-color: #ff2d00;
	margin: auto;
	padding-top: auto;
	padding: 15px;
	position: fixed;
	width: 100%;
	bottom: 0;
	color: white;
}